.title {
  text-align: center;
  font-size: 10vmin;
  font-style: italic;
  color: #e2e8ac;
  -webkit-text-stroke: 2px black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2vmin;
  padding: 1vmin 15vmin 0 15vmin;
  background-color: #e2e8ab;
  color: black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  letter-spacing: 0.2vmin;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  margin: 5vmin 15vmin;
}
/*
@media (min-width: 35em) {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
*/
